@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for recipe list */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #6a0dad;
  border-radius: 10px;
}
